.tips {
    display: flex;
    justify-content: center;
    /* background-color: #797df5; */
    /* background-color: #2b2d65; */
    background-color: #383B81;
    margin: 0;
    width: 100%;
    color: antiquewhite;
}

.tips-card {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 60px 30px 60px 30px;
    text-align: center;
}

.tips-card h2 {
    text-transform: uppercase;
}

.tips-card p {
    height: 13rem;
}

.tips-card a {
    color: rgba(255, 203, 215, 1);
}