.profile {
    background: #FFCBD7;
    border-radius: 0px 30px 30px 0px;
    margin-top: 10px;
}

.profile img {
    padding: 20px;
    /* padding-top: 150px; */
}

#profilePic {
    height: 10rem;
}

.nameProfile, .profileDetails {
    color: #000;
    margin: 0;
}

.profileDetails {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.userName {
    color: #1E1E1E;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.nameProfile {
    font-size: 35px;
    margin: 0;
}

.name {
    margin: 0.5;
    padding-top: 20px;
}

.birthDay {
    margin: 0.5;
}

.age {
    margin:0.5;
}

.weigth {
    margin: 0.5;
}

.height {
    margin: 0.5;
}

.BMI {
    margin: 0;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
}

