#community {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(56, 59, 129, 1) 0%, rgba(255, 203, 215, 1) 100%);
}

#community>div {
    display: flex;
}

#community-cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    scrollbar-color: grey;
}