#dashboard {
    display: flex;
}

.dashboard-summary {
    width: 100%;
}

.dashboard-summary > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* min-height: 400px; */
}

#dashboard-cards {
    max-width: 1000px;
    max-height: 350px;
    /* border: 1px red solid; */
    overflow: scroll;
    margin-top: 20px;
}