#dashboard {
    display: flex;
    flex-direction: column;
}

#dashboard>div {
    display: flex;
}

.dashboard-summary {
    width: 100%;
}

.dashboard-summary > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* min-height: 400px; */
}

#dashboard-goal {
    margin-left: 28px;
}

#dashboard-cards {
    max-width: 1000px;
    max-height: 350px;
    /* border: 1px red solid; */
    overflow: scroll;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#dashboard-cards-heading img {
    height: 2rem;
    padding: 0;
    margin-right: 0.3rem;
}

#dashboard-cards-heading {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-icon {
    height: 2rem;
    padding: 0;
    margin-right: 0.3rem;
}

.dashboard-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}