/* * {
    border: red solid 1px; 

} */

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-color: none;
}

.setting-forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: start;
}

.setting-forms h2 {
    width: 75%;
    text-align: center;
    margin: 10px;
}

.setting-forms h3 {
    width: 75%;
    text-align: left;
    margin: 10px;
}

/* #name-head {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.picture-name img {
    height: auto;
    width: 100%;
    clip-path: circle();
    margin: 10px;
}

#update-profile {
    display: none;
    margin: 10px;
}

.profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 1px gray solid; */
    height: 100px;
    width: 100px;
    z-index: 3;
    overflow: hidden;
    margin: 10px;
}

.profile-pic label {
    position: absolute;
    font-size: x-small;
    font-weight: bold;
    color:white;
    text-align: center;
    align-items: center;
    height: 30px;
    width: 100px;
    top: 170px;
    cursor: pointer;
    margin: 10px;
}

#info-container{
    border-right: black 1px solid;
    margin: 10px;
}

.picture-name {
    display: flex;
    margin: 10px;
}

#name-top {
    text-align: left;
    margin: 10px;
}

.personal-infomation {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.setting input {
    /* background-color: rgba(216, 215, 215, 0.898); */
    background-color: white;
    width: 328px;
    height: 45px;
    border-radius: 5px;
    border: 1px;
    padding-left: 10px;
    margin: 10px;
}

.setting button {
    /* background-color: #FFF573; */
    background-color: #EC255A;
    width: 328px;
    height: 45px;
    border-radius: 5px;
    border: 1px;
    padding-left: 10px;
    margin: 10px;
}


.update-goal {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
}

.goal-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.goal-form label {
    padding-left: 10px;
}

.setting a {
    text-align: right;
    margin: 10px;
    color: blueviolet;
}

#goal-h2 {
    width: 94%;
    margin: 10px;
    text-align: center;
}

