.registration {
    display: flex;
    background-color: white;
}

.regis-form {
    /* padding-top: 0.5rem; */
    width: 50%;
    display: flex;
    justify-content: center;
}


#register-button {
    background-color: #FFF573;
    height: 3rem;
    margin-top: 2rem;
    cursor: pointer;
}

.regis-form input {
    height: 2.8rem;
    width: 28vw;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    font-size: 1rem;
    padding-left: 10px;
}

.regis-form span {
    font-size: 0.8rem;
    text-align: left;
    margin: 0;
    color: blueviolet;
}

#registration-img {
    width: 50%;
    height: 720px;
    background-color: #FFF573;
    display: flex;
    justify-content: center;
}

#registration-img img {
    width: 70%;
}

