/* * {
    border: #EC255A 1px solid;
} */

.registration {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-image: linear-gradient(0deg, rgba(56, 59, 129, 1) 0%, rgba(255, 203, 215, 1) 100%);
}

.regis-content {
    display: flex;
    flex-direction: row;
}

.regis-form {
    padding-top: 0.5rem;
    width: 60%;
    display: flex;
    justify-content: center;
}


/* .sign-container button {
    background-color: #EC255A;
    height: 3rem;
    margin-top: 2rem;
    cursor: pointer;
    color: antiquewhite;
    width: 200px;
    border: 0;
    border-radius: 20px;
    font-size: 1rem;
} */


#register-button {
    background-color: #EC255A;
    height: 3rem;
    margin-top: 2rem;
    cursor: pointer;
    color: antiquewhite;
    width: 200px;
    border: 0;
    border-radius: 20px;
    font-size: 1rem;
}

#register-button:hover{
    background-color: palevioletred;
}

.regis-form input {
    height: 2.8rem;
    width: 28vw;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    margin: 0.5rem;
    font-size: 1rem;
    padding-left: 10px;
}

.regis-form span {
    font-size: 0.8rem;
    text-align: left;
    margin: 0;
    color: rgb(28, 28, 28);
    font-weight: bold;
}

#registration-img {
    width: 40%;
    height: 720px;
    /* background-color: #FFCBD7; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

#registration-img img {
    width: 100%;
    height: 70%;
}

