.goal {
    display: flex;
    flex-direction: column;
    width: 265px;
}

.goal-heading {
    display: flex;
    align-items: center;
    margin: 0px;
}

.goal-heading img {
    height: 2rem;
    padding: 0;
}

.goal-container {
    /* border: 1px solid lightgray; */
    /* border-radius: 20px; */
    /* box-shadow: 5px 5px 10px lightgrey; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    margin: 0px 0px 10px 0px;
    /* height: 100px; */
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 0px;
    border-radius: 0.5rem;
}

.goal-container div {
    display: flex;
    justify-content: center;
}

.goal-container p {
    margin-bottom: 0px;
    margin-left: 20px;
}

.goal-container div p {
    display: flex;
    align-items: center;
}