html, body {
    margin: 0;
    padding: 0;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  }
  
#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.navbar {
    /* max-width: 1280px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%; */
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #f5aabb;
    
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

.navbar .logo {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.navbar .logo h1 {
    font-size: 1.5rem;
}

.navbar .logo img {
    height: 3rem;
    margin-right: 1rem;
    padding: 0;
}

.navbar nav {
    display: inline-flex;
    align-items: center;
}

.navbar nav a {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: bold;
}

.navbar nav a:hover {
    color: antiquewhite;
}

.navbar nav a p {
    background-color: #EC255A;
    padding: 0.75rem;
    border: 0;
    border-radius: 0.5rem;
    color:antiquewhite;
}

.navbar nav a p:hover {
    background-color: palevioletred;
    color: white;
    padding: 0.75rem;
    border: 0;
    border-radius: 0.5rem;
}