.communityList {
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: auto;
    scrollbar-color: #c6cfd7 #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* margin-top: 720px; */
    /* background-color: beige; */
}

  /* Chrome, Edge, and Safari */
.communityList::-webkit-scrollbar {
    width: 16px;
}

.communityList::-webkit-scrollbar-track {
    background: #ffffff;
}

.communityList::-webkit-scrollbar-thumb {
    background-color: #c6cfd7;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.communityCard {
    width: 80%;
    padding: 0.6rem;
    margin: 2rem auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 0px;
    border-radius: 0.5rem;
    text-align: left;
    min-height: 10rem;
}

.card-head > p {
    margin: 5px;
}

.communityCard .card-head {
    display: flex;
    margin: 0.25rem 0.75rem 0 0.75rem;
    justify-content: space-between;
    align-items:baseline;
    opacity: 0.25;
    font-size: 0.75rem;
    /* color: lightgray; */
}
.communityCard .card-head img {
    height: 1rem;
    margin-left: 0.5rem;
    border: none;
}

.communityCard .card-body {
    display: flex;
    padding: 0;
    margin: 0 0.75rem;
    justify-content: space-between;
    align-items: flex-start;
}

.communityCard .card-body .card-detail {
    width: 30%;
}

.card-detail > p {
    margin: 5px;
}

.card-text > p {
    margin: 5px;
}

.communityCard .card-body .card-text {
    width: 65%;
}

.communityCard .card-body img {
    margin-right: 20px;
    height: 7rem;
}
