.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383B81;
}

.footer p {
    color: white;
    width: 60%;
    margin: 30px;
}

.footer button {
    margin-right: 30px;
    cursor: pointer;
}